<!DOCTYPE html>
<html>
<head>
    <title>Log File Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Upload Log File for Analysis</h1>
        <form action="{{ url_for('analyze') }}" method="post" enctype="multipart/form-data">
            <input type="file" name="log_file" accept=".log, .txt">
            <br><br>
            <input type="submit" value="Analyze Log">
        </form>
    </div>
</body>
</html>